.ProjectSelected {
  background-color: #1c1c1c;

  &__content {
    margin-top: 54px;
    margin-bottom: 100px;

    h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;

      letter-spacing: 2px;

      color: #ff8a56;
    }
  }

  &__description {
    margin-top: 50px;
    width: 100%;
    height: fit-content;
  }

  &__description-image {
    width: 100%;
    height: 385px;
    overflow: hidden;
    border-radius: 20px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__item-techs {
    margin-top: 16px;
    height: 23.94px;
    display: flex;
  }

  &__item-tech {
    padding-top: 3.47px;
    padding-bottom: 3.47px;
    padding-left: 6.94px;
    padding-right: 6.94px;
    width: fit-content;
    height: 23.94px;
    margin-left: 10px;
    border: 0.867725px solid #f6f6fe;
    border-radius: 3.4709px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #fafbff;

    &:first-child {
      margin-left: 0;
    }
  }

  &__description-text {
    margin-top: 50px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #ffffff;
  }

  &__buttons {
    height: 60px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  &__button-portfolio {
    width: 220px;
    height: 60px;
    background-color: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff8a56;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: #ff8a56;

    &:hover {
      background-color: #ff8a56;
      color: #fff;
    }
  }
}
