.ThirdScreen {
  background-color: #0a0119;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);

  .my-projects {
    display: flex;
    flex-direction: column;

    .swiper {
      width: 100%;

      .swiper-slide {
      }
    }

    &__head {
      display: flex;
      justify-content: space-between;

      .control-buttons {
        width: 82px;
        height: 36px;
        display: flex;
        justify-content: space-between;

        &__prev {
          height: 36px;
          width: 36px;
          background-color: inherit;
          outline: none;
          border: none;
          border-bottom: 1px solid #ff8a56;

          background-image: url("./../../../images/ThirdScreen/button-slider-prev.svg");
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-color: #ff8a56;
          }
        }

        &__next {
          height: 36px;
          width: 36px;
          background-color: inherit;
          outline: none;
          border: none;
          border-bottom: 1px solid #ff8a56;

          background-image: url("./../../../images/ThirdScreen/button-slider-next.svg");
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-color: #ff8a56;
          }
        }
      }
    }

    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;

      letter-spacing: 2px;

      color: #ff8a56;
    }

    &__wrapper {
      margin-top: 50px;
      height: fit-content;
      display: flex;
      justify-content: space-between;
    }

    &__item {
      width: 385px;
      height: 470px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        cursor: pointer;

        .my-projects__item-image-wrapper {
          .my-projects__item-image-hover {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;

            button:hover {
              cursor: pointer;
              color: #000;
              background-color: #fff;
            }
          }
        }
      }
    }

    &__item-image-wrapper {
      width: 385px;
      height: 385px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
    }

    &__item-image-hover {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: rgba(10, 1, 25, 0.6);

      button {
        background-color: inherit;
        border: 0.867725px solid #f6f6fe;
        border-radius: 3.4709px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 7px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        color: #fafbff;
      }
    }

    &__item-title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;

      color: #fafbff;
    }

    &__item-techs {
      height: 23.94px;
      display: flex;
    }

    &__item-tech {
      padding-top: 3.47px;
      padding-bottom: 3.47px;
      padding-left: 6.94px;
      padding-right: 6.94px;
      width: fit-content;
      height: 23.94px;
      margin-left: 10px;
      border: 0.867725px solid #f6f6fe;
      border-radius: 3.4709px;

      display: flex;
      justify-content: center;
      align-items: center;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      color: #fafbff;

      &:first-child {
        margin-left: 0;
      }
    }

    &__buttons {
      height: 60px;
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }

    &__button-portfolio {
      width: 220px;
      height: 60px;
      background-color: inherit;
      outline: none;
      border: none;
      border-bottom: 1px solid #ff8a56;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;

      color: #ff8a56;

      &:hover {
        background-color: #ff8a56;
        color: #fff;
      }
    }
  }
}

@import "./_ThirdScreen-Mobile";
