@media (max-width: 768px) {
  .MainPage {
    background-image: url("./../../images/FirstScreen/abstract-background-mobile.png");
    background-position: top 35% left 50%;
    background-size: 433.17px 375.45px;

    .container {
    }
  }
}
