@media (max-width: 768px) {
  .MainPage {
    background-color: #1c1c1c;
    background-image: url("./../../images/FirstScreen/abstract-background.png");
    background-repeat: no-repeat;
    background-position: center -5%;

    .container {
    }
  }
}
